<div class='row'>
  <div class='span8 well'>
    <%= render post.categories %>
    <h4><%= link_to(post.title, post_path(post)) %></h4>
    <div class='pull-right'>
      <%= link_to('wanna go see?', fix_url(post.url), class: 'btn btn-info btn-small') %>
    </div>
    <p><%= post.description %></p>
    <p>
      <small>
        <span class='quiet'>by </span><%= link_to(post.creator.username, user_path(post.creator) ) %>
        <span class='quiet'> on <%= display_datetime(post.created_at) %></span>
      </small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>