<%= render 'shared/mod_buttons', item: @post %>

<%= render 'shared/content_title', title: @post.title %>

<p><%= render @post.categories %></p>

<p><%= @post.description %></p>
<hr/>

<p><%= link_to("show All Posts!", posts_path) %></p>