<% if logged_in? %>
  <%= render 'shared/mod_buttons', item: @post %>
<% end %>

<%= render @post.categories %>

<%= render 'shared/content_title', title: @post.title %>

<p><%= @post.description %></p>
<hr/>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/error', item: @comment %>
    <div class='control-group'>
        <%= f.label :body, 'Leave a comment' %>
        <%= f.text_area :body, row: 3, class: 'span4' %>
    </div>
    <%= f.submit "Create Comment", class: "btn btn-primary" %>
  <% end %>
<% end %>

<h5>This Post's Comments:</h5>

<% @post.comments.each do |comment| %>
  <div class="well span8">
    <em>"<%= comment.body %>"</em>
    <br/>
      <small>
        <span class='quiet'>by </span><%= link_to(comment.creator.username, '' ) %>
        <span class='quiet'> on <%= display_datetime(comment.created_at) %></span>
      </small>
  </div>
<% end %>